<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for("static",filename="css/bass.css") }}" type="text/css" rel="stylesheet" charset="UTF-8">
    {% block head %}{% endblock %}
</head>
<body class="bgimg">
<!-- 顶部导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navsize">


        <ul class="nav nav-tabs">
            <li class="active"><a href={{ url_for("index") }}>首页</a></li>
            <li><a href="#">论坛</a></li>

            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                    <li><a href="{{ url_for('author',user_id=useraction.id,tag=1) }}"><span
                            class="glyphicon glyphicon-user"></span> {{ username }}</a></li>
                    <li><a href={{ url_for("logout") }}><span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
                {% else %}
                    <li><a href={{ url_for("register") }}><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href={{ url_for("login") }}><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-right" role="search" action="{{ url_for("search") }}" method="get">

                <div class="form-group">
                    <input type="text" class="form-control" name="q" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">
                    搜索
                </button>
            </form>
        </ul>
    </div>
    </div>
    </div>
</nav>


<div class="body">
    {% block main %}{% endblock %}
</div>


<!-- 底部导航 -->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="navsize">

    <ul class="nav navbar-nav">
        <li class="active"><a href="#">友情链接</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">加入我们</a></li>
        <li><a href="#">关于我们</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> 帮助中心</a></li>
        <li><a href={{ url_for('fankui') }}> 反馈中心</a></li>
    </ul>
    </div>

</nav>
</body>
</html>
        <ul class="nav navbar-nav navbar-right">
            {% if username %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ username }}</a></li>
                <li><a href={{ url_for("logout") }}><span class="glyphicon glyphicon-log-in"></span> 注销</a></li>
            {% else %}
                <li><a href={{ url_for("register") }}><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href={{ url_for("login") }}><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            {% endif %}
        </ul>