<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="../static/css/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../static/css/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/status-style.css">
    <style>
        .list tr th {
            text-align: center;
            background: #044599 no-repeat;
            border-left: 1px solid #02397F;
            border-right: 1px solid #02397F;
            border-bottom: 1px solid #02397F;
            border-top: 1px solid #02397F;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            height: 37px;
        }
        
        .list tr td {
            text-align: center;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            border-bottom: 1px solid grey;
            font-size: 15px;
            color: #000;
            height: 37px;
        }
    </style>
    <script src=" ../static/js/jquery.min.js "></script>

    <script type="text/javascript" src="../static/js/socket.io.dev.js"></script>
    <script>
        var socket;
        $(document).ready(function() {
            namespace = '/test';
            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            console.log(socket)


        });

        function changedate() {
            var str = $("input").val(); //命名一个变量保存获取的input里面的时间
            // 创建日期对象
            console.log(str);
            var date = new Date(str);
            socket.emit("date", JSON.stringify({
                "date": str
            }));
            var temp = []
            socket.on('server_response', function(res) {
                console.log(res)
                temp = res
            });

            for (var i = 0; i < 7; ++i) {

                //// 加一天
                date.setDate(date.getDate() + i + 1);
                str = date.getFullYear() + '-'
                    // 因为js里month从0开始，所以要加1
                    +
                    (parseInt(date.getMonth()) + 1) + '-' +
                    date.getDate();
                document.getElementById("showtable").rows[i].cells[0].innerText = str;
                document.getElementById("showtable").rows[i].cells[2].innerText = temp[i]
            }
        }
    </script>
</head>

<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar page-header">
            <img src="../static/img/logo.jpg" alt="" id="logo">
            <div class="title">BJTU</div>
            <div class="logdiv"><a href="regis" id="logout">Logout</a></div>
        </nav>
        <div class="main-container">
            <img src="../static/img/result.png" id="result">
            <table id="showtable" style="
            border: 1px solid black;
    position: absolute;
    width: 300px;
    top: 100px;
    margin: 10px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;">
                <tr>
                    <th>日期</th>
                    <th>最高温度</th>
                    <th>最低温度</th>
                </tr>
                <tr>
                    <td>2020-08-01</td>
                    <td>22</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2020-08-02</td>
                    <td>22</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2020-08-03</td>
                    <td>22</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2020-08-04</td>
                    <td>22</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2020-08-05</td>
                    <td>2</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2020-08-06</td>
                    <td>22</td>
                    <td>5</td>
                </tr>

            </table>

            <input id="datee" type="date" onchange="changedate()" style="  
            position: absolute;
            height: 30px;
            width:170px;
            position: absolute;
            top: 75px;
            left: 50px;" />
        </div>
    </div>


</body>

</html>