<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查询天气</title>
    <link rel="stylesheet" href="../static/css/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../static/css/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/status-style.css">
    <link rel="stylesheet" href="../static/css/table-style.css">
    <style>
        .list tr th {
            text-align: center;
            background: #044599 no-repeat;
            border-left: 1px solid #02397F;
            border-right: 1px solid #02397F;
            border-bottom: 1px solid #02397F;
            border-top: 1px solid #02397F;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            height: 37px;
        }
        
        .list tr td {
            text-align: center;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            border-bottom: 1px solid grey;
            font-size: 15px;
            color: #000;
            height: 37px;
        }
    </style>
    <script src=" ../static/js/jquery.min.js "></script>
    <script src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.dev.js"></script>

</head>

<body class="sidebar-fixed">
    <div class="page-wrapper" style="top:10px;">
        <nav class="navbar" style="background-color: #fff;width: 100%;">
            <img src="../static/img/logo.jpg" alt="" id="logo">
            <div class="title">BJTU</div>
            <div class="logdiv"><a href="login" id="logout">Logout</a></div>
        </nav>
        <div class="container">
            <div style="text-align:center; vertical-align:middel;background-color: #555;">
                <input id="datee" type="date" onchange=" changedate() " style=" height: 30px; width:170px; top: 75px; left: 50px;margin: 10px;" />
            </div>
            <div style="border-radius: 25px;">
                <table id="showtable" class="zebra">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>最高温度</th>
                            <th>最低温度</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>11</td>
                            <td>11</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div id="result"></div>
        <div id="result2"></div>
    </div>
</body>
<script>
    var socket;
    var temp_min
    var temp_max
    var str
    var dates = []
    $(document).ready(function() {
        namespace = '/test';
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        console.log(socket)
        socket.on('server_response_max', function(res) {
            temp_max = JSON.parse(res);
        })
        socket.on('server_response_min', function(res) {
            console.log(res)
            temp_min = JSON.parse(res);
            // temp = res
            var date = new Date(str);
            for (var i = 1; i < 8; ++i) {
                if (i != 1)
                    date.setDate(date.getDate() + 1);
                str = date.getFullYear() + '-'
                    // 因为js里month从0开始，所以要加1
                    +
                    (parseInt(date.getMonth()) + 1) + '-' +
                    date.getDate();
                dates.push(str)
                document.getElementById("showtable").rows[i].cells[0].innerText = str;
                document.getElementById("showtable").rows[i].cells[1].innerText = temp_max[i - 1]
                document.getElementById("showtable").rows[i].cells[2].innerText = temp_min[i - 1]
            }
            console.log(dates)
            var option = {
                title: { //图表标题，可以通过show:true/false控制显示与否，subtext:'二级标题',
                    text: '未来七天最高气温预测折线图'
                },
                backgroundColor: '#FFFFFF',

                tooltip: { //鼠标浮动时的工具条，显示鼠标所在区域的数据，trigger这个地方每种图有不同的设置
                    trigger: 'axis'
                },
                legend: { // 图例，每条折线或者项对应的示例
                    data: ['最低气温', '最高气温']
                },
                calculable: true,
                xAxis: [{
                    axisLine: {
                        lineStyle: {
                            color: '#CCCCCC'
                        }
                    },
                    type: 'category',
                    boundaryGap: false, //从0刻度开始
                    // data:[]  X轴的定义
                    data: dates
                }],
                yAxis: [{
                    scale: true,
                    type: 'value',
                    axisLine: {
                        lineStyle: {
                            color: '#CCCCCC'
                        }
                    }
                }],
                series: [{
                    name: '最高气温',
                    type: 'line',
                    // symbol:'none',//原点
                    smooth: 0.2, //弧度
                    color: ['#66BCDE'],
                    // data:Y轴数据
                    data: temp_max
                }]
            };

            var myChart = echarts.init(document.getElementById('result'));
            myChart.setOption(option);
            var option2 = {
                title: { //图表标题，可以通过show:true/false控制显示与否，subtext:'二级标题',
                    text: '未来七天最低气温预测折线图'
                },
                backgroundColor: '#FFFFFF',

                tooltip: { //鼠标浮动时的工具条，显示鼠标所在区域的数据，trigger这个地方每种图有不同的设置
                    trigger: 'axis'
                },
                legend: { // 图例，每条折线或者项对应的示例
                    data: ['最低气温']
                },
                calculable: true,
                xAxis: [{
                    axisLine: {
                        lineStyle: {
                            color: '#CCCCCC'
                        }
                    },
                    type: 'category',
                    boundaryGap: false, //从0刻度开始
                    // data:[]  X轴的定义
                    data: dates
                }],
                yAxis: [{
                    scale: true,
                    type: 'value',
                    axisLine: {
                        lineStyle: {
                            color: '#CCCCCC'
                        }
                    }
                }],
                series: [{
                    name: '最低气温',
                    type: 'line',
                    // symbol:'none',//原点
                    smooth: 0.2, //弧度
                    color: ['#66AEDE'],
                    // data:Y轴数据
                    data: temp_min
                }]
            };

            var myChart2 = echarts.init(document.getElementById('result2'));
            myChart2.setOption(option2);
        });

    });

    function changedate() {
        str = $("input").val(); //命名一个变量保存获取的input里面的时间
        // 创建日期对象
        console.log(str);
        var date = new Date(str);
        socket.emit("date", JSON.stringify({
            "date": str
        }));
    }
</script>

</html>