<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Steal My Admin</title>
    <link rel="stylesheet" href="../static/css/960.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="../static/css/template.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="../static/css/colour.css" type="text/css" media="screen" charset="utf-8" />
    <script src="../static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.dev.js"></script>
    <script>
        var users;
        var socket;
        $('.delete').click(
            function() {
                console.log("当前URL为:", $(this));
                var user = $(this).parent().siblings()[0].innerText;
                socket.emit('deleteuser', JSON.stringify({
                    'username': user
                }));
            }
        );
        $(document).ready(function() {
            namespace = '/test';
            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            console.log(socket)
            socket.on('connect', function(res) {
                socket.emit('getusers', 'get');
                console.log(res)
            });
            console.log($('.delete'))
                // $('a').click(
                //     function() {
                //         console.log("当前URL为:", $(this));
                //         var user = $(this).parent().siblings()[0].innerText;
                //         socket.emit('deleteuser', JSON.stringify({
                //             'username': user
                //         }));
                //     }
                // );
            function deleteuser(this) {


                console.log(this)
            }
            socket.on('users', function(res) {
                users = JSON.parse(res);
                console.log(users)
                $("#tb  tr:not(:first)").empty("");
                for (var i = 0; i < users.length; ++i) {
                    var table = document.getElementById("tb");
                    var newRow = document.createElement("tr");
                    var column1 = document.createElement("td");
                    var rowIndex = table.rows.length - 1; //添加新行的序号
                    column1.innerHTML = users[i].username;
                    var column2 = document.createElement("td");
                    column2.innerHTML = users[i].password;
                    var column3 = document.createElement("td");
                    column3.innerHTML = users[i].kind;
                    var column4 = document.createElement("td");
                    column4.innerHTML = "<a href='#'class ='edit'> Edit </a>";
                    var column5 = document.createElement("td");
                    column5.innerHTML = "<button class ='delete' onclick='deleteuser'> Delete </button>";
                    //  var deleteBt = document.createElement("button");
                    // deleteBt.innerHTML = "删除";
                    //deleteBt.οnclick = deleteRow;
                    //column4.appendChild(deleteBt);
                    newRow.appendChild(column1);
                    newRow.appendChild(column2);
                    newRow.appendChild(column3);
                    newRow.appendChild(column4);
                    newRow.appendChild(column5);
                    table.appendChild(newRow);
                }
            });
        });
    </script>
</head>

<body style="background-image: url(../static/img/back.jpg)">
    <div>
        <nav class="page-header">
            <img src="../static/img/logo.jpg" alt="" id="logo">
            <div class="title">BJTU</div>
            <div class="logdiv"><a href="regis" id="logout">Logout</a></div>
        </nav>
        <div id="content" class="container_16 clearfix" style="top:80px">
            <div class="grid_16">
                <table id="tb">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>权限</th>
                            <th colspan="2" width="10%">Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="pagination">
                                <span class="active curved">1</span><a href="#" class="curved">2</a><a href="#" class="curved">3</a><a href="#" class="curved">4</a> ... <a href="#" class="curved">10 </a>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Philip</td>
                            <td>Claire</td>
                            <td>Development</td>
                            <td><a href="#" class="edit">Edit</a></td>
                            <td><a href="#" class="delete">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>